ORY_ISSUER=https://cranky-bose-9s8hbv5let.projects.oryapis.com
ORY_PROJECT_API_TOKEN=

PORTAL_ORY_CLIENT_ID=
PORTAL_ORY_CLIENT_SECRET=
# Generate locally with: openssl rand -base64 32
PORTAL_AUTH_SECRET=

ST_ORY_CLIENT_ID=
ST_ORY_CLIENT_SECRET=
# Generate locally with: openssl rand -base64 32
ST_AUTH_SECRET=

BT_ORY_CLIENT_ID=
BT_ORY_CLIENT_SECRET=
# Generate a different value locally with: openssl rand -base64 32
BT_AUTH_SECRET=
